<form [formGroup]="form">
    <app-question-form [questionControl]="getControl('question')"></app-question-form>

    <div class="checkboxes">
        <p>Answer options</p>
        <ng-container *ngFor="let ac of answerControls">
            <app-answer-multiple-form [answerControl]="ac"></app-answer-multiple-form>
        </ng-container>
        <div class="d-flex option-btn" (click)="addOption()">
            <img src="../../../../../../assets/pictures/addIcon.png" alt="" width="30" height="30">
            <p>Add an Option...</p>
        </div>
    </div>
</form>