<div class="blocks" *ngFor="let block of blocks">
    <div class="block mt-3 mb-3" [ngSwitch]="block.name">
        <div class="container">
            <app-text-block *ngSwitchCase="'text'" id="block.id"></app-text-block>
            <app-image-block *ngSwitchCase="'image'" id="block.id"></app-image-block>
            <app-tip-block *ngSwitchCase="'tip'" id="block.id"></app-tip-block>
            <app-video-block *ngSwitchCase="'video'" id="block.id"></app-video-block>
            <app-audio-block *ngSwitchCase="'audio'" id="block.id"></app-audio-block>
                    <!-- blocks... -->
        </div>
    </div>
</div>