.cert-name {
    position: absolute;
    top: 420px;
    left: 400px;
}

.cert-date {
    position: absolute;
    bottom: 150px;
    right: 225px;
}

.user-name {
    position: absolute;
    top: 325px;
    left: 400px;
}
