<div class="d-flex course-page">
    <div class="header">Course how to use &lt;&lt;Oh my course!&gt;&gt; </div>

    <div class="select" *ngIf="!constructorMode">
        <mat-form-field appearance="fill">
            <mat-label>Pick a category</mat-label>
            <mat-select [formControl]="categorySelect" required color="accent">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.value}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="categorySelect.hasError('required')">Please choose a category</mat-error>
        </mat-form-field>
    </div>

    <p *ngIf="constructorMode">{{ lessonEdit.name }}</p>
</div>

<ng-container *ngIf="!constructorMode">
    <div class="lesson" *ngFor="let lesson of lessons">
        <app-lesson-form [lesson]="lesson" 
        (deleteLesson)="onDeleteLesson(lesson)" 
        (editLesson)="onEditLesson(lesson)">
        </app-lesson-form>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <p *ngIf="lessons.length === 0" class="text-muted">There are no lessons in the course yet.</p>

        <div class="row mt-3">
            <div class="mr-2">
                <button mat-raised-button color="accent" (click)="onAddLesson()" *ngIf="course.id">
                    + Add lesson
                </button>
            </div>
            <button *ngIf="lessons.length !== 0" mat-raised-button color="warn" (click)="onSaveCourse()">
                Save
            </button>
        </div>
    </div>
</ng-container>

<app-constructor [courseId]="course.id" [lesson]="lessonEdit" *ngIf="constructorMode" (saveLesson)="onSaveLesson()">

</app-constructor>