form {
    .header {
        width: 200px;
    }
}

.flex-items {
    background-color: #F4F4F4;

    .flex-item {
        &:hover{
            cursor: pointer;
        }
    }
}

::ng-deep .ql-toolbar {
    background-color: #F4F4F4;

    &.ql-snow {
        border: none;
    }
}

::ng-deep .ql-snow {
    border: none;
}
