/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 200; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav div {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
    border: 2px solid #ffe464;
    border-radius: 2px;
}

/* When you mouse over the navigation links, change their color */
.sidenav div:hover {
    color: #f1f1f1;
    cursor: pointer;
}
